
body {
	margin: 0px auto;
	background: #FFFFFF;
	color: #212121;
	font-family: "DejaVu Sans";
	font-size: 16px;
}

header {
	margin-bottom: 2em;
}

nav {
	display: block;
	margin: 0px auto;
}

nav, #logo_content, #content, #foot_content {
	width: 75%;
}

nav ul {
	padding: 0px;
	display: block;
	margin: auto;
	list-style: none;
}

nav ul li {
	margin-top: 1ex;
	font-family: "FreeSans";
	font-size: 20px;
	padding-right: 10px;
	display: inline-block;
}

nav ul li a {
	text-decoration: underline;
	color: #212121;
}

nav ul li a:hover {
	color: #82b1a3;
}

#logo_container {
	margin-top: 1ex;
	padding-top: 1ex;
	padding-bottom: 1ex;
	background-color: #212121;
	color: #d6d6d6;
	box-shadow: 2px 2px 3px #212121;
}

#logo_content {
	margin: 0px auto;
}

#logo {
	text-decoration: none;
	display:inline-block;
	margin: 0px auto;
	font-family: "Colaborate-Medium";
	font-size: 60px;
	color: #d6d6d6;
	text-shadow: 1px 1px 2px #121212;
}

#logo:hover {
	color: #82b1a3;
}

#logo:hover #logo_white {
	color: #d6d6d6;
}

#logo_white {
	color: #82b1a3;
}

#subtitle {
	display: inline;
}

#search {
	margin-top: 35px;
	float: right;
	background-color: none;
	border-style: none;
}

#search_input:focus {
}

#search_input {
	background-color: #121212;
	border-style: none;
	height: 18px;
	width: 150px;
	color: #d6d6d6;
}

footer {
	border-top: 15px solid #82b1a3;
	margin-top: 2em;
	background: #212121;
	padding-top: 1ex;
	padding-bottom: 1ex;
	color: #d6d6d6;
}


#container{
}

#content {
	margin: 0px auto;
}

.title {
	display: block;
	margin-top: 2ex;
	margin-bottom: 2ex;
	font-family: "DejaVu Sans";
	font-weight: 100;
	font-size: 30px;
}

.header {
	display: block;
	margin-bottom: 1ex;
	margin-top: 1ex;
	font-family: "Arial";
	font-size: 25px;
}

.code {
	margin-top: 2px;
	margin-bottom: 2px;
	border: 2px solid #82b1a3;
	padding: 1ex;
	border-radius: 2px;
	color: #d6d6d6;
	background-color: #212121;
	font-family: "Courier New";
}

.quote {
	color: #000000;
	font-family: "Courier New";
}

.intern_link {
	font-family: "DejaVu Sans";
	color: #82b1a3;
	text-decoration: none;
	font-weight: 700;
}

.intern_link:hover {
	text-decoration: underline;
}

#foot_content {
	font-size: 14px;
	margin: 0px auto;
}

#credits {
	text-align: right;
	display: block;
	height: 2em;
}

a {
	color: #82b1a3;
	text-decoration: none;
}

#more {
	display: none;
}

@media all and (min-width:0px) and (max-width: 1100px) {	
	nav, #logo_content, #content, #foot_content {
		width: 90%;
	}
}

@media all and (min-width: 0px) and (max-width: 880px) {
	nav, #logo_content, #content, #foot_content {
		width: 95%;
	}
	#search {
		display: none;
		float: none;
		margin-top: 0px;
	}
	
	#logo_container {
		margin-top: 0px;
	}

	nav {
		margin-bottom: 0px;
	}

	#more {
		margin-top: 1ex;
		margin-bottom: 0px auto;
		padding:4px;
		display: block;
		color: #d6d6d6;
		cursor: pointer;
		background-color: #212121;
		width: 4em;
		text-align: center;
	}

	ul {
		display: none;
	}
	ul li a {
		display: none;
	}

	#more:hover {
		color: #82b1a3;
	}
	nav {
		width: 4em;
	}
	nav:hover ul li a{
		margin: 0px auto;
		display: inline;
		float: left;
		color: #d6d6d6;
	}
	nav:hover ul li a:hover {
		color: #82b1a3;
	}
	nav:hover ul {
		float:left;
		display:inline;
	}
}

